@media screen and (max-width:1496px){
    .banner{
        height: 120vh;
    }
}


@media screen and (max-width:1024px)
{
    .stop h1{
        font-size: 29px;
    }
    .stop h3{
        font-size: 18px;
    }
    .footer-main{
        max-width: 79%;
    }
    .stop{
        left: 53%;
    }
    .hero-section{
        padding-top: 89px;
    }
    .hero-text img{
        display: none;
    }
    .hero-text h1{
        line-height: 114px;
        font-size: 99px;
    }
    .mission-img img{
        display: none;
    }
    .mission-card{
        row-gap: 12px;
    }
    .hero-text h2{
        font-size: 77px;
        line-height: 71px;
    }
    .hero-text h3{
        letter-spacing: 2px;
    font-size: 15px;
}
#card-3{
    grid-column: 1/3;
    padding: 47px;
}
    
}
@media screen and (max-width:877px){
    .stop h1{
        font-size: 20px;
    }
    .cards{
        flex-wrap: wrap;
        max-width: 75%;

    }
    .stop h3{
        font-size: 18px;
    }
    .star-play{
        height: 38vh;
    }
    .stop{
        top:130px;
    }
}




@media  screen and (max-width:768px){
    .hero-text h1{
        font-size: 55px;
    }
    .navbar{
        display: block;

    }
    .mission-card{
        max-width: 96%;
    }
    .nav-links ul{
        display: block;
    }
    .nav-links{
        display: block;
        padding: 9px;
        position: absolute;
        left: -100%;
    }
    .nav-links.show{
        left: 0;
    }
    .nav-links a li{
padding-bottom: 6px;
    }
    .nav-buttons{
        margin: 0;
    }
    .navbar #icon{
        display: block;
        background-color: white;
        padding: 4px 10px 0px 9px;
    }
    .navbar #icon{
        position: absolute;
        top: 10px;
        right: 20px;
        display: block;
    }
}
@media screen and (max-width:711px)
{
    .stop h1{
        font-size: 19px;
    }
    .stop h3{
        font-size: 15px;
    }
    .star-play
    {
        height: 32vh;
    }
    .stop{
        top: 110px;
    }
    .cards{
        max-width: 90%;
    }
}
@media screen and(max-width:764px){

    .tour-head h2{
bottom: 96px;
    }
    .tour-head h1{
        font-size: 81px;
    }
}
@media screen and (max-width:501px){
    .banner{
        height: 87vh;
    }
    .hero-text h1{
        font-size: 52px;
    }
    .hero-text h2{
        font-size: 50px;
    }
    .tour-head h2{
        font-size: 33px;
        bottom: 71px;
    }
    .tour-head h1{
        font-size: 59px;
    }
    .stream-head h2{
        font-size: 52px;
        bottom: 86px;
    }
.mission-card
{
    max-width: 93%;
}
    #card-3{
        grid-column:1;
}
    .stream-head h1{
        font-size: 61px;
    }
    .our-head h2{
        font-size: 53px;
        bottom: 90px;
    }
    .our-head h1{
        font-size: 64px;
    }
    .star-play{
        height: 21vh;
    }
    .stop{
        top:52px ;
        left: 45%;
    
    }
    .stop h3{
        font-size: 12px;
    }
    .stop button{
        padding: 3px 13px 3px 13px;
        margin-top: 10px;
    }
    .stop h1{
        font-size: 17px;
    }
} 

@media  screen and (max-width:427px)
{
    .cards{
        max-width: 66%;
    }
    .tournament-card{
        max-width: 90%;
    }
    .tour-head h1{
        font-size: 53px;
    }
    .tour-head h2 {
        font-size: 32px;
        bottom: 64px;
}
.our-head h1 {
    font-size: 59px;
}
.our-head h2 {
    font-size: 45px;
    bottom: 78px;
}
.stop h1 {
    font-size: 15px;
}
.stop h3{
    font-size: 11px;
}
.stream-video {
    max-width: 90%;
    height: 16rem;
}
.hero-text h1{


font-size: 42px;
color: black;
-webkit-text-stroke:navajowhite;
line-height: 67px;
}
    .hero-text h2{
        font-size: 43px;
        line-height: 52px;
    }
    .navbar{
        display: block;

    }
    .nav-links ul{
        display: block;
    }
    .nav-links{
        display: block;
        padding: 9px;
        position: absolute;
        left: -100%;
    }
    .nav-links.show{
        left: 0;
    }
    .nav-links a li{
padding-bottom: 6px;
    }
    .nav-buttons{
        margin: 0;
    }
    .navbar #icon{
        position: absolute;
        top: 10px;
        right: 20px;
        display: block;
    }
}
@media screen and (max-width:320px)
{
    .hero-text h1{
        font-size: 23px;
    }
    .hero-text h2{
        font-size: 36px;
    }
    .hero-text h3{
        font-size: 10px;
    }
}
@media screen and(max-width:465px){
    .hero-text h1{
        font-size: 46px;
    }
    .star-play{
        height: 20vh;
    }
    .stop h1{
        font-size: 16px;
    }
}
@media  screen and(min-width:375px) {
 .hero-text h1{
    font-size: 37px;
 }
 .hero-text h2{
font-size: 34px;
 }
 .hero-text h3{
    font-size: 13px;
 }
 .stop{
    top:64px;
}
.mission-card{
    max-width: 100%;
}
.our-head h2 {
    font-size: 38px;
    bottom: 64px;
}
.our-head h1 {
    font-size: 48px;
}
.tournament-card{
    max-width: 100%;
}

 .tour-head h1 {
    font-size: 44px;
}
.stop h3 {
    font-size: 10px;
}
.stop h1 {
    font-size: 13px;
}
.tour-head h2 {
    font-size: 26px;
    bottom: 54px;
}
}
@media screen and(max-width:322px){
    .banner {
        height: 70vh;
    }
    .hero-text h2 {
        font-size: 28px;
        line-height: 28px;
    }
    .star-play {
        height: 15vh;
    }
    .stop h1 {
        font-size: 10px;
    }
    .stop button{
        padding: 0px 7px 0px 7px;
    }
    .stop button a{
        font-size: 9px;
    }
    .stop{
        top: 43px;
    }
   
}

@media screen and(max-width:1440px){
    .stop{
        left: 39%;
    }
    .hero-text img{
        display: none;
    }
}