@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}


.navbar{
    max-width: 95%;
    margin: auto;
    display: flex;
    padding: 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
    background-blend-mode: lighten;

}
.logo h1{
    color: white;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}
.nav-links a li{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;

}
nav{
    position: relative;
    z-index: 1;
}
.navbar img{
    display: none;
}
.nav-buttons{
margin-left: 14px;
display: flex;
column-gap: 9px;
}
.nav-buttons #log-in{
    background-color: #fcfc08ed;
    padding:8px 20px 8px 20px;
    color: black;
    border-radius: 4px;
    border: transparent;

}
#log-in a{
    color: black;
}
#sign-up{
    background-color: white;
    padding: 8px 20px 8px 20px;
    border-radius: 4px;
    border: transparent;
}
#sign-up a{
    color: black;
}
.nav-links a:hover{
    color:#fcfc08ed;
}
.banner{
    background:url(assests/1144612.jpg);
    background-size: cover;
    width: 100%;
height: 111vh;
    background-repeat: no-repeat;
    background-position: center;

}


.hero-text img{
    top: -84px;
    left: 342px;
    width: 52%;
    position: absolute;
    right: 10;
    filter: drop-shadow(5px 5px 20px #000000);
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.hero-text h1{
    font-size: 165px;
    color: transparent;
    letter-spacing: 4px;
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 3px;
    font-weight: 800;
    line-height: 191px;
}
.hero-text h2{
    position: relative;
    color: #FFF512;
    letter-spacing: 7px;
    font-size: 142px;
    text-align: center;
    line-height: 151px;
    font-weight: 700;
    
    text-shadow: 1px 4px 10px rgba(0,0,0,0.6);


}
.hero-text h3{
    color: yellow;
    font-weight: 300;
    letter-spacing: 7px;
 position: relative;
    line-height: 35px;
}
.hero-button{
    text-align: center;
    margin-top: 15px;
    position: relative;

}
.hero-button button{
    background-color: white;
    padding: 12px 30px 12px 30px;
    border: transparent;
    border-radius: 3px;
margin-bottom: 20px;
}
.hero-button button a{
    color: black;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
}
.hero-button img{
    position: relative;
    top: 5px;
    width: 18px;
    left: 10px;
}
.hero-button button:hover{
background-color: #fcfc08ed;
cursor: pointer;
}
.cards{
    display: flex;
    column-gap: 12px;
    max-width: 60%;
    margin: auto;
    position: relative;
    bottom: 16px;
    

}

.card-1{
    box-shadow: 1px 9px 17px 0px rgba(5,3,23,1);
    display: flex;
    background-color: #000000;
    border: transparent;
    border-radius: 7px;
    padding: 14px 10px 14px;

}
.card-detail{
    display: flex;
    padding: 10px 13px 10px 13px;
}
.card-detail-1{
    margin-left: 10px;
}
.card-detail h3{
color: #ffff;
}
.card-detail h4{
    color: #FFF512;
    font-weight: 300;
}
.card-detail img{
    background-color: white;
    border-radius: 50%;
width: 66px;
}
.body-information{
    background-color:black;
    height: 100vh;
}
