@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'kanit';
    margin: 0;
    padding: 0;
}
.navbar{
    max-width: 95%;
    margin: auto;
    display: flex;
    padding: 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
    background-blend-mode: lighten;

}
.logo h1{
    color: white;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
}
.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}
.nav-links a li{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;

}
nav{
    position: relative;
    z-index: 1;
    background-color:#212529;
}
.nav-buttons{
    margin-left: 14px;
    display: flex;
    column-gap: 9px;
    }
    .nav-buttons #log-in{
        background-color: #fcfc08ed;
        padding:8px 20px 8px 20px;
        color: black;
        border-radius: 4px;
        border: transparent;
    
    }
    #log-in a{
        color: black;
    }
    #sign-up{
        background-color: white;
        padding: 8px 20px 8px 20px;
        border-radius: 4px;
        border: transparent;
    }
    #sign-up a{
        color: black;
    }
    .nav-links a:hover{
        color:#fcfc08ed;
    }
    #icon{
        display: none;
    }
    @media  screen and (max-width:768px){

        .navbar{
            display: block;
    
        }
       
        .nav-links ul{
            display: block;
        }
        .nav-links{
            display: none;
            padding: 9px;
         
        }
        .nav-links.show{
            display: block;
        }
        .nav-links a li{
    padding-bottom: 6px;
        }
        .nav-buttons{
            margin: 0;
        }
        .navbar #icon{
            display: block;
            background-color: white;
            padding: 4px 10px 0px 9px;
        }
        .navbar #icon{
            position: absolute;
            top: 10px;
            right: 20px;
            display: block;
        }
    }
    .banner-img{
        display: block;
        min-height: 50vh;
        background: rgba(0,0,0,.3) url(PUBG_\ New\ State\ Mobile\ Game\ 2k\ Quad\ HD\ Wallpaper.jpg);
        background-blend-mode: color-burn;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tournament-nav{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tournament-nav ul li button{
        text-decoration: none;
color: #fcfc08ed;
position: relative;
    }
    .tournament-nav ul{
        display:flex;
        column-gap: 43px;
        line-height: 49px;
        font-weight: 100;
    }
    .tournament-nav ul li{
        list-style: none;
        display:inline-grid;
    }

.tournament-nav button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 21px;
    display: inline-block;
    font-weight: 100;
    transition: 0.5s ease-in-out;
}
.tournament-nav .active{
    border-bottom: 3px solid  yellow;
    width: 100%;
    border-radius: 1px;
    transition: 0.5s ease-in-out;
}

.tournament-card{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(288px,1fr));
    max-width: 78%;
    position: relative;
    z-index: 1;
    margin: auto;
    row-gap: 12px;
    column-gap: 12px;
}
.diva{
    background-color: #10121c;
    padding-top: 30px;
}
.tournaments{
    margin-top: 20px;
    padding-bottom: 40px;

}
.tour-head h2 {
        position: relative;
        bottom: 105px;
        text-shadow: 0px 0px 7px rgb(255 255 0);
        font-size: 52px;
        color: yellow;
}
.tour-head h1{
    font-size: 91px;
    position: relative;
    -webkit-text-stroke: white;
    /* top: 122%; */
    color: transparent;
    -webkit-text-stroke-width: 1px;
    opacity: 0.1;
}
.link-card{
    border: 3px solid #b38501;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}
.link-card:hover{
    transform: scale(1.1);
    
}
.tour-card-img img{
    width: 100%;
    border-radius: 10px;
}
.tourcdhead li{
    text-decoration: none;
    list-style: none;
    color: #9B9B9B;
    border-radius: 23px;
    display: inline-block;
    border: 1px solid #373737;
    font-size: 12px;
    padding: 1px 23px 1px 23px;
}
.tournaments a{
    text-decoration: none;
    border-radius: 8px;
}
.tourcdpara{
    color: white;    
    font-weight: 500;    
    letter-spacing: 1px;
    padding-left: 15px;
    word-spacing: 1px;    
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 19px;

}
.tour-card-text{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #10121c;
}
.text{
    color: white;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
}
.icon{
    padding-right: 11px;
}
.tour-ico{
    display: flex;
}
.tournament-box{
    display: flex;
    background-color: black;
    color: white;
    margin-top: 8px;
    padding: 10px 13px 10px 13px;
    border-radius: 7px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
}
.tourcdregister{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    margin-top: 11px;
    border-top-left-radius: 4px;
    padding: 8px;
    border-top-right-radius: 4px;
    border-radius: 8px;
}
.tournament-box img{
    position: relative;
    bottom: 4px;
    width: 26px;
    padding-left: 9px;
}
.tourcdregister button{
    border: transparent;
    border-radius: 5px;
    background-color:#FFF512;
padding: 7px 15px 7px 15px;
}
.tourcdregister button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.tour-card-text a{
    text-decoration: none;
}
.divb{
    position: absolute;
    top: 71%;
    display: none;
}